* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #DAF0FF;
}

.theme {
    position: relative;
    top: 30px;
    left: 30px;
    width: 70px;
    height: 35px;
}

.label {
    color: #109DFF;
    background-color: #ADE2FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    border-radius: 50px;
    height: 35px;
    width: 70px;
    position: relative;
}

main.darktheme .label {
    background-color: #005DB2;
    color: #24A5FF;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.dark, .light {
    font-size: 25px;
    padding-right: 5px;
}

.ball {
    width: 28px;
    height: 28px;
    background-color: #fff;
    position: absolute;
    top: 3px;
    left: 4px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(34px);
}

main.darktheme {
    background-color: #17181A;
}

.calculator {
    margin: 0 auto;
    width: 375px;
    height: 812px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #F7F8FB;
    border-radius: 39px;
    box-shadow: 35px 35px 84px 1px rgba(96, 190, 255, 1);
}

.window__calculation {
    display: flex;
    justify-content: flex-end;
    padding: 0 33px;
}

.window__calculation-firstNumber {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    color: #818181;
}

.window__calculation-secondNumber {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    color: #818181;
}

.window__calculation-action {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    color: #109DFF;
}

.window__result {
    display: flex;
    justify-content: flex-end;
    padding: 0 33px;
}

.window__result-value {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 72px;
    color: #424242;
}

main.darktheme .window__result-operator_visible {
    color: #fff;
}

main.darktheme .window__result-value {
    color: #fff;
}

.window__result-operator {
    display: none;
}

.window__result-operator_visible {
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 72px;
    color: #424242;
}

main.darktheme .window__result-value {
    color: #fff;
}

.window__history {
    height: 50px;
    overflow: scroll;
}

.hidden-screen {
    display: none;
}

.controls__calculator {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 40px;
}

.button {
    cursor: pointer;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 62px;
    height: 60px;
}

.controls__button-reset {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #858585;
    background-color: #fff;
    border: 1px solid #fff;
}

.controls__button-remove {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #858585;
    background-color: #fff;
    border: 1px solid #fff;
}

.controls__button-history {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #858585;
    background-color: #fff;
    border: 1px solid #fff;
}

main.darktheme .controls__button-reset {
    background-color: #616161;
    color: #A5A5A5;
    border-color: #616161;
}

main.darktheme .controls__button-remove {
    background-color: #616161;
    color: #A5A5A5;
    border-color: #616161;
}

main.darktheme .controls__button-history {
    background-color: #616161;
    color: #A5A5A5;
    border-color: #616161;
}

.controls__button-action {
    font-weight: 500;
    font-size: 27px;
    line-height: 26.13px;
    color: #109DFF;
    background-color: #ADE2FF;
    border: 1px solid #ADE2FF;
}

main.darktheme .controls__button-action {
    background-color: #005DB2;
    border-color: #005DB2;
    color: #24A5FF;
}

.controls__button-number {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #38B9FF;
    background-color: #f9f9fb;
    border: 1px solid #fff;
}

.controls__button-point {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #38B9FF;
    background-color: #f9f9fb;
    border: 1px solid #fff;
}

main.darktheme .controls__button-number {
    background-color: #303136;
    border-color: #303136;
    color: #29A8FF;
}

main.darktheme .controls__button-point {
    background-color: #303136;
    border-color: #303136;
    color: #29A8FF;
}

.controls__button-zero {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #38B9FF;
    background-color: #f9f9fb;
    border: 1px solid #fff;
    grid-column: 1 / 3;
    width: 144px;
}

main.darktheme .controls__button-zero {
    background-color: #303136;
    border-color: #303136;
    color: #29A8FF;
}

.controls__button-result {
    font-weight: 500;
    font-size: 32px;
    line-height: 26.13px;
    color: #B2DAFF;
    background-color: #19ACFF;
    border: 1px solid #19ACFF;
}

main.darktheme .controls__button-result {
    background-color: #1991FF;
    border-color: #1991FF;
    color: #B2DAFF;
}