body {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #DAF0FF;
}

.container {
    margin: 0 auto;
    width: 375px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #F7F8FB;
    border-radius: 39px;
}

.window__calculation {
    margin-top: 147px;
    margin-left: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #818181;
}

main.darktheme {
    background-color: #17181A;
}

.controls__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 40px;
}

.button {
    cursor: pointer;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 62px;
    height: 60px;
}

.controls__button-reset, .controls__button-remove, .controls__button-history {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #858585;
    background-color: #fff;
    border: 1px solid #fff;
}

main.darktheme .controls__button-reset, .controls__button-remove, .controls__button-history {
    background-color: #616161;
    color: #A5A5A5;
    border-color: #616161;
}

.controls__button-action {
    font-weight: 500;
    font-size: 27px;
    line-height: 26.13px;
    color: #109DFF;
    background-color: #ADE2FF;
    border: 1px solid #ADE2FF;
}

main.darktheme .controls__button-action {
    background-color: #005DB2;
    border-color: #005DB2;
    color: #24A5FF;
}

.controls__button-number {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #38B9FF;
    background-color: #f9f9fb;
    border: 1px solid #fff;
}

main.darktheme .controls__button-number {
    background-color: #303136;
    border-color: #303136;
    color: #29A8FF;
}

.controls__button-zero {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #38B9FF;
    background-color: #f9f9fb;
    border: 1px solid #fff;
    grid-column: 1 / 3;
    width: 144px;
}

main.darktheme .controls__button-zero {
    background-color: #303136;
    border-color: #303136;
    color: #29A8FF;
}

.controls__button-result {
    font-weight: 500;
    font-size: 32px;
    line-height: 26.13px;
    color: #B2DAFF;
    background-color: #19ACFF;
    border: 1px solid #19ACFF;
}

main.darktheme .controls__button-result {
    background-color: #1991FF;
    border-color: #1991FF;
    color: #B2DAFF;
}